<!DOCTYPE html>
<html lang="th">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>

<body>

    <h1 style="text-align:center;"Login Sucessfull</h1>

    <h1 style="text-align:center;">Welcome {{user}}</h1>

 <div class="col-lg-12 text-right float-right">
<p>{{user_name}}</p>&nbsp;
<a href="/">index</a>&nbsp;
<a href="/secrete1/">Secrete1</a>&nbsp;
<a href="/signout/">signout</a>&nbsp;
</div>

</body>
</html>